
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    font-family: 'NanumSquareRound',sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 1000px;
}

.block {
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.bc-red {
    background-color: red;
}

.padding-80 {
    padding: 0 80px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.con {
    max-width: 1743px;
}


/* 탑메뉴바 */

.top-box-01 {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: rgb(255, 255, 255, 0);
    z-index: 1;
    transition: padding .4s, background-color .4s;
}

.top-box-01 > .top-bar {
    padding: 0 80px;
}

@media (max-width:1279px) {
    .top-box-01 {
        padding: 45px 0;
    }
    .top-box-01 > .top-bar {
        padding: 0 45px;
    }
}

@media (max-width:1024px) {
    .top-box-01 {
        padding: 30px 0;
    }
    .top-box-01 > .top-bar {
        padding: 0 30px;
    }
}
@media (max-width:749px) {
    .top-box-01 {
        padding: 30px 0;
    }
    .top-box-01 > .top-bar {
        padding: 0 20px;
    }
}
@media (max-width:479px) {
    .top-box-01 {
        padding: 30px 0;
    }
    .top-box-01 > .top-bar {
        padding: 0 15px;
    }
}




.top-box-01 > .top-bar > .logo {
    height: auto;
    transition: height .4s;
}

.top-box-01 > .top-bar > .logo > .logo-box {
    width: 80px;
    height: 80px;
    transition: width .4s, height .4s;
}

.top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img {
    animation: rotate_image 10s linear infinite;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img {
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/logo_border.svg);
    transition: width .4s, height .4s;
}

.top-box-01 > .top-bar > .logo > .logo-box > .logo-simbol {
    width: 48px;
    height: 48px;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(https://han-daeun.github.io/img1/pf/yellow-finger/logo_simbol.svg);
}

.top-box-01 > .top-bar > .logo > .logo-text {
    font-size:36px; 
    font-weight:600;
    padding-left:20px;
    transition: font-size .4s, padding .4s;
}

@media (max-width:1279px) {
    .top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img {
        width: 65px;
        height: 65px;
    }
    .top-box-01 > .top-bar > .logo > .logo-box {
        width: 65px;
        height: 65px;
    }
    .top-box-01 > .top-bar > .logo > .logo-text {
        font-size: 26px;
        padding-left:15px;
    }
}

@media (max-width:1024px) {
    .top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img {
        width: 55px;
        height: 55px;
    } 
    .top-box-01 > .top-bar > .logo > .logo-box {
        width: 55px;
        height: 55px;
    }
    .top-box-01 > .top-bar > .logo > .logo-text {
        font-size: 23px;
        padding-left:15px;
    }
    .top-box-01 > .top-bar > .logo > .logo-box > .logo-simbol {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:479px) {
    .top-box-01 > .top-bar > .logo > .logo-text {
        font-size: 20px;
        padding-left:10px;
    }
    .top-box-01 > .top-bar > .logo > .logo-box > .logo-simbol {
        width: 35px;
        height: 35px;
    }
}

.top-box-01 > .top-bar > .menu-bar > ul > li {
    margin-left: 50px;
    transition: margin .4s;
}

.top-box-01 > .top-bar > .menu-bar > ul > li:first-child {
    margin-left: 0;
}

.top-box-01 > .top-bar > .menu-bar > ul > li > a {    
    font-size: 18px;
    font-weight: 800;
    transition: color .3s;
    transition: font-size .4s;
}

.top-box-01 > .top-bar > .menu-bar > ul > li:hover > a {
    color: #ffd031;
}

@media (max-width:1279px) {
    .top-box-01 > .top-bar > .menu-bar > ul > li {
        margin-left: 45px;
    }
    .top-box-01 > .top-bar > .menu-bar > ul > li > a {
        font-size: 16px;
    }
}


.top-box-01 > .top-bar > .contact-btn > a {
    font-size:15px; 
    font-weight:800; 
    left:auto; 
    right:0;
}

.top-box-01 > .top-bar > .contact-btn > a > span {
    border: 1px solid #000000;
    padding: 9px 26px;
    position: relative;
    overflow: hidden;
}

.top-box-01 > .top-bar > .contact-btn > a:hover > span {
    color: white;
}

.top-box-01 > .top-bar > .contact-btn > a > span::after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 0;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    transition: width .4s;
    overflow: hidden;
}

.top-box-01 > .top-bar > .contact-btn > a > span:hover::after {
    width: 100%;
}

@media (max-width:749px) {
    .top-box-01 > .top-bar > .contact-btn > a {
        font-size:12px; 
    }
    .top-box-01 > .top-bar > .contact-btn > a > span {
        padding: 9px 16px;
    }
}

@media (max-width:479px) {
    .top-box-01 > .top-bar > .contact-btn {
        display: none;
    }
}


.top-box-01 > .top-bar > .mobile-side-menu {
    width: 31px;
    height: 31px;
} 

.top-box-01 > .top-bar > .mobile-side-menu > .side-menu-btn {
    background-color: rgba(239, 239, 239);
    width: 100%;
    height: 100%;
    border: solid 1px rgba(74, 74, 74);
    border-radius: 3px;
    position: relative;
}

.top-box-01 > .top-bar > .mobile-side-menu > .side-menu-btn > div {
    width: 15px;
    height: 2px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.top-box-01 > .top-bar > .mobile-side-menu {
    margin-left: 22px;
    cursor: pointer;
}

.top-box-01 > .top-bar > .mobile-side-menu > .side-menu-btn > div:first-child {
    top: calc(50% - 6px);
}

.top-box-01 > .top-bar > .mobile-side-menu > .side-menu-btn > div:last-child {
    top: calc(50% + 6px);
}

@media (min-width:1025px) {
    .top-box-01 > .top-bar > .mobile-side-menu {
        display: none;
    }
}

@media (max-width:1024px) {
    .top-box-01 > .top-bar > .mobile-side-menu {
        display: block;
    }
    .top-box-01 > .top-bar > .menu-bar {
        display: none;
    }
}

@media (max-width:749px) {
    .top-box-01 > .top-bar > .mobile-side-menu {
        margin-left: 10px;
    }
}


.top-box-01.top {
    padding: 15px 0;
    background-color: rgb(255, 255, 255, 1);
}

@media ( min-width:1024px ) {
    .top-box-01 > .top-bar > .logo > .logo-box > .logo-border > img.top {
        width: 65px;
        height: 65px;
    }

    .top-box-01 > .top-bar > .logo > .logo-box.top {
        width: 65px;
        height: 65px;
    }
    
    .top-box-01 > .top-bar > .logo > .logo-text.top {
        font-size: 26px;
        padding-left: 15px;
    }
    .top-box-01 > .top-bar > .menu-bar > ul > li.top {
        margin-left: 45px;
    }
    
    .top-box-01 > .top-bar > .menu-bar > ul > li > a.top {
        font-size: 16px;
    }
    
    .top-box-01 > .top-bar > .contact-btn > a > span.top {
        padding: 7px 20px;
    }
}

